<!DOCTYPE html>
<html lang="en-us">
  <% include ./partials/head_index %>
  <body>
    <section>
      <h1>Not Found</h1>
      <p>The page you're looking for doesn't exist.</p>
      <p>Everything that does exist is found back <a href="/">home</a></p>
    </section>
  </body>
</html>
