<!DOCTYPE html>
<html lang="en-us">

  <%- include ./partials/head_index -%>

  <body>
    <section class="globalnav">
      <header>
        <h1>TimLeisio.com</h1>
        <p>Musings and work of a user experience professional and permaculture geek.</p>
      </header>
      <nav>
        <a href="/">Articles</a>
        <a href="/activities">Activities</a>
        <a href="/artifacts">Artifacts</a>
        <a href="/permaculture">Permaculture</a>
      </nav>
    </section>
    
    <hr />

    <section class="activities">
      <h1>Activities</h1>

      <p>Coming soon: a set of workshop activities to help product teams reach common ground and focus around the needs of customers.</p>


      <!--
      <h2>In Person</h2>
      <ul>
        <li>
          Business Intent Workshop
        </li>
      </ul>

      <h2>Virtual</h2>
      <ul>
        <li>
          Real-Time Wireframe Synthesis
          Sometimes, people just need to see their conversation play out in a visual format.
        </li>
      </ul>
      -->

    </section>

    <%- include ./partials/footer_index -%>

  </body>
</html>
