<!DOCTYPE html>
<html lang="en-us">

  <%- include ./partials/head_index -%>

  <body>
    <section class="globalnav">
      <header>
        <h1>TimLeisio.com</h1>
        <p>Musings and work of a user experience professional and permaculture geek.</p>
      </header>
      <nav>
        <a href="/">Articles</a>
        <a href="/activities">Activities</a>
        <a href="/artifacts">Artifacts</a>
        <a href="/permaculture">Permaculture</a>
      </nav>
    </section>
    
    <hr />

    <section class="artifacts">
      <h1>Artifacts</h1>

      <p>Coming soon: a small set of resources that may help you become more prolific with transitioning conceptual ideas into a tangible form (sketch templates/symbols, html/js prototype framework, etc)</p>

      <!--
      <ul>
        <li>
          <img src="http://placehold.it/100x100" alt="placeholder image" />
          <h2>Sketch Wireframe Template</h2>
          <p>Includes symbols for most used controls such as buttons, inputs, icons, and markup. Includes pages for business and user intent matricies. <span class="faded small">Last updated June 21, 2017 for sketch version 46.2</span></p>
          <button class="primary">Download</button>
          <button>See what's included.</button>
        </li>
        <li>
          <img src="http://placehold.it/100x100" alt="placeholder image" />
          <h2>Front-End Prototype Framework (HTML, CSS, JS, KO)</h2>
          <p>Basic scaffolding for front-end only prototyping with HTML, CSS, JS and Knockout. Requires mid-to-advanced knowledge of JS and Knockoutjs. <span class="faded small">Last updated June 21, 2017</span></p>
          <button class="primary">Download</button>
          <button>See what's included.</button>
          <a href="#nogo">Get it on Github.</a>
        </li>
      </ul>
      -->

    </section>

    <%- include ./partials/footer_index -%>

  </body>
</html>
