<!DOCTYPE html>
<html lang="en-us">

  <%- include ./partials/head_index -%>

  <body class="arty">
    <header>
      <a href="/"><i class="material-icons">&#xE88A;</i> Home</a>
    </header>
    
    <article>
    <%- arty %>
    </article>

    <%- include ./partials/footer_index -%>

  </body>
</html>
