<!DOCTYPE html>
<html lang="en-us">

  <%- include ./partials/head_index -%>

  <body class="secondary">
    <header>
      <a href="/"><i class="material-icons">&#xE88A;</i> Home</a>
    </header>
    
    <section>
      <h1>Thomson Reuters eDiscovery Point</h1>
      <br />
      <blockquote>I honestly wanted to snub eDiscovery Point, but Thomson Reuters has delivered a triumph of simplicity, capability, and pricing practicality.</blockquote>
      <p>A quote from a legal professional pleasantly surprised by the </p>
      <br />
      <p>This is the story of the team I worked with to deliver a market-changing, enterprise-level web application.</p>

      <h2>The Highlights: Over two years of...</h2>
      <ul>
        <li>building crucial relationships that yield high quality product experiences</li>
        <li>teaching the value and processes of user experience</li>
        <li>communicating product experiences in many formats</li>
        <li>pushing the comfort level of an enterprise-level organization</li>
      </ul>

      <h2>Why</h2>
      

    </section>
    
    <%- include ./partials/footer_index -%>

  </body>
</html>
