<!DOCTYPE html>
<html lang="en-us">

  <%- include ./partials/head_index -%>

  <body class="experiments">
    <header>
      <a href="/"><i class="material-icons">&#xE88A;</i> Home</a>
    </header>

    <section class="experiments">
      <h1>Experiments</h1>
      <p>This space is reserved for Tim's active pursuit of <a href="https://medium.com/@hanawalt/resist-the-urge-a87f05706b6">doing good with design</a>.</p>
      <br />
      <hr />
      <ol>
        <li class="experiment">
          <h1><a href="/experiments/perma">Permaculture Plant Guild Creator</a></h1>   
          <h2>Purpose</h2>
          <p>People all over the world have the right to know how to grow food in ways that will improve the quality of living for themselves, their family, and their community.</p>
          <br />
          <h2>Problem Statement</h2>
          <p>Lack of actionable, holistic permaculture knowledge is a critical barrier that inhibits production of local, regenerative food ecosystems.</p>
          <br />
          <h2>How to Resolve</h2>
          <p>To fulfill the purpose and resolve the problem, we must make actionable knowledge necessary to produce local, regenerative food ecosystems accessible to the masses.</p>
          <br />
          <h2>This Experiment</h2>
          <p>A tool for creating, evaluating, and tracking perennial plant guilds adapted to an individual's location.</p>
        </li>
      </ol>
    </section>

    <%- include ./partials/footer_index -%>

  </body>
</html>
