<!DOCTYPE html>
<html lang="en-us">

  <%- include ./partials/head_index -%>

  <body>
    <section class="globalnav">
      <header>
        <h1>TimLeisio.com</h1>
        <p>Musings and work of a user experience professional and permaculture geek.</p>
      </header>
      <nav>
        <a href="/">Articles</a>
        <a href="/activities">Activities</a>
        <a href="/artifacts">Artifacts</a>
        <a href="/permaculture">Permaculture</a>
      </nav>
    </section>
    
    <hr />
    <section class="articles">
      <h1>Articles</h1>
      <nav>
        <p href="#nogo">
          <span class="title">The ingredients and recipes for great software design.</span>
        </p>
        <p href="#nogo">
          <span class="title">Starting somewhere: an example of business intent.</span>
        </p>
        <p href="#nogo">
          <span class="title">Before information architecture.</span>
        </p>
        <a href="/artys/product-owners-please-dont-make-feature-decisions">
          <span class="title">Product owners: don't make feature decisions.</span>
        </a>
        <a href="/artys/advocating-redesign">
          <span class="title">When to advocate complete enterprise software redesign.</span>
        </a>
        <a href="/artys/product-scope-scenarios-not-features">
          <span class="title">Proudct scope: goodbye features, hello scenarios.</span>
        </a>
        <p href="#nogo">
          <span class="title">The blue balls of product scope.</span>
        </a>
        <p href="#nogo">
          <span class="title">The four organizational quadrants of user research.</span>
        </p>
        <p href="#nogo">
          <span class="title">Behavioral research is product value.</span>
        </p>
        <p href="#nogo">
          <span class="title">To create products with impact.</span>
        </p>
        <p href="#nogo">
          <span class="title">User, purpose, and context.</span>
        </p>
        <p href="#nogo">
          <span class="title">Human-centered software creation.</span>
        </p>
        <a href="/artys/creating-a-way-to-evaluate-your-organization">
          <span class="title">Creating a way to evaluate your organization.</span>
        </a>
      </nav>
    </section>

    <%- include ./partials/footer_index -%>

  </body>
</html>
