<!DOCTYPE html>
<html lang="en-us">

  <%- include ./partials/head_index -%>

  <body>
    <header>
      <h1>Tim Leisio</h1>
      <p>Articles on design, user experience, and possibility. Also <a href="/scribbles">scribbles</a>, and "soon" experiments and work.</p>
    </header>
    <nav>
      <a href="/artys/product-scope-scenarios-not-features" class="latest">
        <span class="title">Product Scope: Goodbye Features. Hello, User Scenarios?</span>
        <span class="date">June 27, 2016</span>
      </a>
      <a href="/artys/subtle-insinuation">
        <span class="title">How to subtly insinuate your UX talent on a product you think needs help.</span>
        <span class="date">April 22, 2016</span>
      </a>
      <a href="/artys/advocating-redesign">
        <span class="title">When to advocate complete software redesign in enterprise organizations.</span>
        <span class="date">April 20, 2016</span>
      </a>
    </nav>

    <%- include ./partials/footer_index -%>

  </body>
</html>
