<!DOCTYPE html>
<html lang="en-us">

  <%- include ./partials/head_index -%>

  <body>
    <section class="globalnav">
      <header>
        <h1>TimLeisio.com</h1>
        <p>Musings and work of a user experience professional and permaculture geek.</p>
      </header>
      <nav>
        <a href="/">Articles</a>
        <a href="/activities">Activities</a>
        <a href="/artifacts">Artifacts</a>
        <a href="/permaculture">Permaculture</a>
      </nav>
    </section>
    
    <hr />

    <section class="permaculture">
      <h1>Permaculture</h1>

      <p>An assortment of permaculture-related information.</p>

      <h2>Creating a food forest</h2>
      <p>This is an outline that aims to be as succinct and as actionable as possible. It is written from the perspective of a smaller-scale effort in a temperate (zone 6) climate.</p>

      <p>It's a continual work in progress. <a href="https://twitter.com/timleisio">Tweet me</a>!</p>

      <h3>Season: Fall</h3>
      <ol>
        <li>
          <p>Decide scale and location</p>
          <ul>
            <li>Concept: one person, year-after-year development of food forest in smaller sections or "chunks"</li>
            <li>Sections or "chunks" could be anywhere from 4 square meters upwards depending on time, energy, cost, existing resources, available tools, and ambition</li>
            <li>Factors that might influence food forest location: sun intensity; shadow; slope of land; proximity to home, other structures, utilities, or neighbors; desired plants (see 2.1); <span class="issue">#Issue: more comprehensive list needed</span></li>
            <li>Call utilities and be safe</li>
          </ul>
        </li>
        <li>
          <p>Approximate types and numbers of plants</p>
          <ul>
            <li>Food-producing trees and shrubs</li>
            <li>Nitrogen fixing trees and shrubs</li>
            <li>These plants are the most immovable and should be designed around</li>
          </ul>
        </li>
        <li>
          <p>Land shaping for water investment</p>
          <ul>
            <li>Mantra: slow, sink, spread, store</li>
            <li>Use the tools you have: shovels, tractors, subsoilers, mattocks, chain saws, axes, rakes, etc.</li>
            <li>Shape for the climate you're in: trenches, berms, pits, mounds, swales, subsoiling, keylines, keyline swales, terracing, micro swales, etc.</li>
            <li>Keep water away from homes and structures to avoid foundational damage</li>
            <li>Implement food forest sections in order from fastest rate of water loss to lowest - or from the highest point of your land downwards</li>
            <li>Keep your entire end vision of land shaping in mind as you work section by section</li>
          </ul>
        </li>
        <li>
          <p>Cover it</p>
          <ul>
            <li>Woodchips (12 inches)</li>
            <li>Cardboard plus compost</li>
            <li>Cardboard plus topsoil</li>
            <li>Cardboard plus weights</li>
            <li>If mid-late summer or early in fall, buy cheap nitrogen-fixing, or early-succession, cover crop seeds(ex: dandelions, diakon radish, clover, alfalfa, etc.) <span class="issue">#Issue: need better examples of early succession seed compositions</span></li>
            <li>Bonus if these cover crops are sacrificial and distract critters (bunnies) from your other desired spring plantings, if you're not going to...</li>
          </ul>
        </li>
        <li>
          <p>Fence it (optional)</p>
          <ul>
            <li>Useful if you have hordes of hungry bunnies, other destructive animals, or a larger section of land</li>
            <li>Consider chain link fencing components (terminal posts, tension bars/bands) for more structural elements in tandem with welded wire fencing, t-posts, t-post clips
            <li>A post driver w/handles seems to be a smart thing...</li>
            <li>Galvanized items</li>
            <li>Poultry netting 12 inches below ground and 3 feet above</li>
            <li>Cheaper initial investment: poultry netting with garden stakes can be enough to deter lazy bunnies, but it depends on your local critter temperment</li>
          </ul>
        </li>
      </ol>
      <h3>Season: Winter</h3>
      <ol>
        <li>
          <p>Seed purchasing</p>
          <ul>
            <li>Winter sowing seeds</li>
            <li>Spring broadcasing seeds</li>
            <li>Lots and lots of perennial seeds/seedlings that you desire in your food forest and if the sacrificial plants are not sprouting while your desired plants are - then this strategy wont work</li></li>
            <li><span class="issue">#Issue: section unfinished</span></li>
          </ul>
        <li>
          <p>Winter sowing</p>
          <ul>
            <li><span class="issue">#Issue: section unfinished</span></li>
          </ul>
        </li>

        <li><span class="issue">#Issue: section unfinished</span></li>
      </ol>

      <h3>Season: Spring</h3>
      <ol>
        <li><span class="issue">#Issue: section unfinished</span></li>
      </ol>

      <h2>Watch</h2>
      <ul>
        <li><a href="https://vimeo.com/ondemand/inhabit/93538443">Inhabit: A Permaculture Perspective</a></li>
        <li><a href="http://www.woodlanders.com/episodes/">Woodlanders episodes</a></li>
      </ul>

      <h2>Reads</h2>
      <ul>
        <li><a href="https://www.amazon.com/Restoration-Agriculture-Mark-Shepard/dp/1601730357/">Restoration Agriculture by Mark Shepard</a></li>
        <li><a href="https://permaculturenews.org/2015/10/23/piecing-together-a-guild-of-your-own/">Piecing together a guild of your own.</a></li>
      </ul>

      <h2>Tools and resources</h2>
      <ul>
        <li><a href="https://plants.usda.gov/adv_search.html">USDA plant database advanced search</a></li>
        <li><a href="https://www.suncalc.org/">Suncalc.org</a></li>
      </ul>
      
    </section>

    <%- include ./partials/footer_index -%>

  </body>
</html>
