<!DOCTYPE html>
<html lang="en-us">

  <%- include ./partials/head_index -%>

  <body>
    <section class="globalnav">
      <header>
        <h1>TimLeisio.com</h1>
        <p>Musings and work of a user experience professional and permaculture geek.</p>
      </header>
      <nav>
        <a href="/">Articles</a>
        <a href="/activities">Activities</a>
        <a href="/artifacts">Artifacts</a>
        <a href="/permaculture">Permaculture</a>
      </nav>
    </section>
    
    <hr />

    <section class="permaculture">
      <h1>Permaculture</h1>

      <p>Coming soon: an assortment of permaculture-related information.</p>

      <!--
      <nav>
        <a href="/artys/global-humanity">
          <span class="title">Global humanity.</span>
        </a>
      </nav>
      -->
      
    </section>

    <%- include ./partials/footer_index -%>

  </body>
</html>
