<!DOCTYPE html>
<html lang="en-us">

  <%- include ./partials/head_index -%>

  <body class="arty">
    <header>
      <a href="/"><i class="material-icons">&#xE88A;</i> Home</a>
    </header>

    <article class="scribble">
      <h1>I wonder which UX teams are more effective within organizations?</h1>
      <img src="imgs/scribbles/ux-team-immaturity.png" alt="" />
      <img src="imgs/scribbles/ux-team-maturity.png" alt="" />
      <br />
      <hr />
    </article>

    <article class="scribble">
      <h1>I wonder which organization ends up with the better set of product features that are the most desirable for people, feasible for tech to build, and viable for the long-term growth of the organization?</h1>
      <img src="imgs/scribbles/one-solution-one-feature.png" alt="" />
      <img src="imgs/scribbles/one-problem-many-features.png" alt="" />
      <br />
      <hr />
    </article>

    <article class="scribble">
      <h1>I wonder which organization ends up with a better product?</h1>
      <img src="imgs/scribbles/possibility-dictation.png" alt="" />
      <img src="imgs/scribbles/possibility-enabling.png" alt="" />
      <br />
      <hr />
    </article>

    <%- include ./partials/footer_index -%>

  </body>
</html>
