/*** DEFAULT REGIONS ***/
html {
  background:#FFFFFF;
  color:#363636;
	font-family:'Public Sans',sans-serif;
  font-size:14px;
  font-weight:400;
}
body {
  max-width:42rem;
  margin:0 auto; /* 3rem */
}
section {
  margin:3rem 0;
}
footer {
  padding:0.5rem 0;
  border-top:0.5rem solid #212121;
}
hr {
  margin:1.5rem 0;
  border:none;
  border-bottom:1px solid #D8D8D8;
}

/*** DEFAULT TYPOGRAPHY ***/
h1, h2, h3, h4, h5, h6 {
  margin:0 0 0.5rem 0;
}
h1 {
  color:#363636;
  font-size:3.5rem;
  font-weight:900;
  line-height:4rem;
}
h2 {
  color:#212121;
  font-size:2.5rem;
  font-weight:300;
  line-height:3rem;
}
h3 {
  color:#363636;
  font-size:1.5rem;
  font-weight:900;
  line-height:2rem;
}
p {
  margin:0 0 1.5rem 0;
  line-height:2rem;
}
a {
  color:#0072BC;
  line-height:2rem;
}
a:visited {
  color:#714BBD;
}
a:focus {
  outline:2px dashed #0072BC;
}
blockquote {
  margin:0 0 1.5rem 0;
  padding:1rem;
  border-left:0.5rem solid #D8D8D8;
  font-size:1.5rem;
  font-weight:300;
  line-height:2rem;
}
.blockquote-byline {
  margin:0.5rem 0 0 0;
  color:#636363;
  display:block;
  font-size:1rem;
  font-style:italic;
}
strong {
  font-weight:700;
}
em {
  font-style:italic;
}

/*** DEFAULT LISTS ***/
ol, ul {
  margin:0 0 1.5rem 1rem;
  padding:0;
}
ul li,
ol li {
  margin:0 0 0 1rem;
  line-height:2rem;
}
ul li {
  list-style-type:disc;
}
ol li {
  list-style-type:decimal;
}
.nodots {
  margin-left:0;
}

/*** TABLE ***/
table {
  font-size:0.8rem;
}
th {
  margin:0;
  border-bottom:1px solid #BBB;
  text-align:left;
}
td {
  padding:0.25rem;
  text-align:center;
}
.td-left {
  text-align:left;
}

/**** ****** ****** ****/
/*** CUSTOM CONTROLS ***/
/**** ****** ****** ****/

/*** Header/Primary ***/
.header-primary {
  padding:1.5rem 0;
  border-top:0.5rem solid #212121;
  border-bottom:0.5rem solid #212121;
}
.header-primary-p {
  margin:0;
}

/*** Header/Global (used on all article pages) ***/
.header-global {
  padding:0.5rem 0;
}
.header-global p {
  margin:0
}


/*** Header/Article ***/
.header-article {
  margin-bottom:1.5rem;
  border-bottom:1px solid #D8D8D8;
}
.header-article p {
  margin:0;
}
.article-heading-secondary {
  color:#212121;
  font-size:2.5rem;
  font-weight:300;
  line-height:3rem;
}

/*** Nav/Articles ***/
.nav-articles {

}
.nav-article-li {
  margin:0;
  list-style-type:none;
}


/*** Misc helpers/TextStyle/Strikethrough ***/
.span-strikethrough {
  text-decoration:line-through;
}
.content-end {
  margin-bottom:3rem;
}

/*** NavList/Articles ***/
.nav-artys {
  padding:2rem 1rem 1rem 1rem;
}
.nav-artys-nav {
  margin:1rem 0;
}
.nav-artys-li {
  margin:0 0 1rem 0;
  padding:0;
  font-size:1.25rem;
  font-weight:300;
  list-style-type:none;
}
.nav-artys-li-strong {
  font-size:2.5rem;
  font-weight:700;
  line-height:2.5rem;
}
.nav-artys-a-strong {
  text-decoration:none;
}


/*** Article ***/
.arty {
}
