html {
	background:#FFF;
	font-family:"Source Sans Pro", sans-serif;
  font-weight:400;
}
h1 {
	margin:0 0 0.25em 0;
	font-size:1.5em;
}
h2 {
	font-size:1.5em;
}
p {
	margin:0 0 0.5em 0;
}
strong {
	font-weight:700;
}

hr {
	margin:2em 0;
	border:none;
	border-bottom:1px dashed #DDD;
}

button:hover {
	cursor:pointer;
}
button[disabled]:hover {
	cursor:default;
}

button.list-item {
	width:298px;
	margin-top:-1px;
	padding:0.5em;
	background:#FFF;
	border:1px solid #DDD;
	font-size:1em;
	text-align:left;
}
button.list-item:hover {
	width:300px;
	margin-left:-2px;
	border-left:3px solid #0072BC;
}

span.units {
	font-size:0.8em;
}

i.material-icons {
	display:inline-block;
	font-size:1em;
}

header.global {
	padding:0.5em 0.5em 0.5em 1em;
	background:#131313;
	color:#FFF;
}
header.global button {
	margin:0;
	padding:0;
	background:transparent;
	border:none;
	color:#FFF;
}
header.global h1 {
	font-size:0.9em;
}

table {

}
table tr {
	border-bottom:1px solid #DDD;
}
table tr th {
	padding:0.25em 0.5em;
	background:#DDD;
	font-size:1em;
	text-align:left;
}
table tr td {
	padding:0.25em 0.5em;
	font-size:1em;
	text-align:left;
}

.field {
	margin:0 0 0.25em 0;
}
.field label {

}
.field input {
}
.field .helptext {
	font-size:0.8em;
	color:#848484;
}


.page {
	padding:2em;
}
.page section {
	margin:0 0 1em 0;
}

section.disclaimers {
	margin:1em 0;
	font-size:0.9em;
}
section.disclaimers h1 {
	font-size:1em;
	font-weight:700;
}
section.disclaimers ol li {
	margin:0 0 0.25em 1.6em;
	list-style-type:disc;
}

section.landscape {

}
.landscape-form {
	width:260px;
	padding:0.5em;
	border:1px solid #DDD;
}
.landscape-render {
	width:300px;
	height:300px;
	margin:1em 0;
	background:transparent url('/imgs/experiments/perma/graphy.png') repeat top left;
	border:1px solid #BBB;
}
.landscape-render p {
	margin:2em;
	padding:0.5em;
	background:#FFF;
	border:1px solid #BBB;
	text-align:center;
}

ol.tabs {

}
ol.tabs:after {
	clear:both;
	content:'';
	display:block;
}
ol.tabs li {
	margin:0 1px 0 0;
	float:left;
}
ol.tabs button {
	background:#FFF;
	border:1px solid #CCC;
}
ol.tabs button.active {
	margin-top:-2px;
	border:1px solid #0072BC;
	border-top:3px solid #0072BC;
	color:#0072BC;
}
ol.tabs button[disabled] {
	border:1px solid #DDD;
	color:#DDD;
}

.nested {
	margin:0 0 0.5em 1em;
	padding:0.75em 0.75em 0.5em;
	border:1px solid #DDD;
}



/* ANIMATIONS */
.spin {
	margin-right:0.25em;
	color:#131313;
	display:inline-block;
	font-size:1em;
	-webkit-animation: animSpin 1s infinite; /* Safari 4+ */
  -moz-animation:    animSpin 1s infinite; /* Fx 5+ */
  -o-animation:      animSpin 1s infinite; /* Opera 12+ */
  animation:         animSpin 1s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes animSpin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-moz-keyframes animSpin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-o-keyframes animSpin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes animSpin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


