<!DOCTYPE html>
<html lang="en-us">

  <%- include ../partials/head_index -%>

  <body class="arty">
    <header>
      <a href="/"><i class="material-icons">&#xE88A;</i> Home</a>
    </header>
    <article>
      <h1>Title</h1>

      <p>para</p>
      
      <h2>Subtitle</h2>

      <figure>
        <img src="/imgs/artys/before-information-architecture/xxxIMAGExxx.png" />
        <figcaption>Caption</figcaption>
      </figure>

    </article>

    <%- include ../partials/footer_index -%>

  </body>
</html>
