<!DOCTYPE html>
<html lang="en-us">

  <%- include ../partials/head_index -%>

  <body class="arty">
    <header>
      <a href="/"><i class="material-icons">&#xE88A;</i> Home</a>
    </header>
    <article>
      <h1>When to advocate complete software redesign in enterprise organizations.</h1>
      <p>April 20, 2016</p>
      <hr>
      <p>How do you know when to "<a href="https://medium.com/@misoks/the-7-articles-about-enterprise-ux-it-d-be-great-if-someone-would-write-please-359e094d418b">scrap it and start over</a>” with the existing enterprise software of the organization you work for? Here’s a “<a href="http://www.strelka.com/en/press/books/dark-matter-and-trojan-horses-a-strategic-design-vocabulary">matter to meta</a>” list of 30 things to consider.</p>
      <ol>
      <li>When you read the content and become confused.</li>
      <li>When there is no information hierarchy.</li>
      <li>When there is no visual hierarchy.</li>
      <li>When you sit down to do a 20 minute evaluation of the software and end up with over 20 violations of the <a href="https://www.nngroup.com/articles/ten-usability-heuristics/">10 usability heuristics</a>.</li>
      <li>When it takes you a month, or more, to figure out one module (of ten) in most details and still learn the strangest of details after a year.</li>
      <li>When you find out that on-boarding of new customers takes weeks of training.</li>
      <li>When you find out that the process of implementing new features is too easy.</li>
      <li><a href="https://medium.com/@timleisio/product-scope-goodbye-features-hello-user-scenarios-c23bfd1f0589">When getting a new sale means more features to the product. Every. Time.</a></li>
      <li>When it takes you over a minute to complete a task that’s part of the standard sales pitch.</li>
      <li>When developers express awe at how the software sells at all.</li>
      <li>When developers are itching to use better technology but can’t because of management-level or executive-level decisions.</li>
      <li>When you casually talk with executive leadership and implicitly determine the company has never done user research.</li>
      <li>Or when you come to accept that the organization <a href="https://www.nngroup.com/articles/ux-without-user-research/">pays user research lip service</a>.</li>
      <li>When you have allies to support you in key positions like project management, development leads, marketing, and sales.</li>
      <li>When you can persuade leadership to get all these people together on the core redesign team.</li>
      <li>When the core redesign team can define, maintain, and manage <a href="https://medium.com/@timleisio/the-blue-balls-of-product-scope-4e95833dc4a5">scope that they can handle</a> in the face of executive pressures.</li>
      <li>When you’re prepared to teach, from out-of-college developers to near-retirement executives, completely foreign ways of thinking.</li>
      <li>When executive leadership is willing to learn, re-organize, re-structure, and experiment with processes leading towards a more human-centric organization.</li>
      <li>When you’re prepared to conduct any relevant <a href="https://www.nngroup.com/articles/which-ux-research-methods/">methods of user research</a> that creates forward progress.</li>
      <li>When you’re prepared to synthesize research findings in terms of user benefits,</li>
      <li>in terms of product changes,</li>
      <li>in terms of product development processes,</li>
      <li>in terms of cultural benefits,</li>
      <li>in terms of business value…</li>
      <li>…all by yourself.</li>
      <li>When you’re prepared to confront people you don’t want to.</li>
      <li>When you feel the moral obligation to improve company morale through the <a href="https://en.wikipedia.org/wiki/MacGuffin">MacGuffin</a> of a product.</li>
      <li>When you’re ready to <a href="http://danwaldschmidt.com/2014/01/business/hard-things">do the hard things</a>.</li>
      <li>When you would regret not trying.</li>
      <li>When you’re ready to own the problem of changing the culture of the organization you work for, because the people of this world deserve better than what exists today.</li>
      </ol>
      <hr>
      <p>Thanks to <a href="https://medium.com/@misoks">@misoks</a> for the topic!</p>
    </article>

    <%- include ../partials/footer_index -%>

  </body>
</html>
