<!DOCTYPE html>
<html lang="en-us">

  <%- include ../partials/head_index -%>

  <body class="arty">
    <header>
      <a href="/"><i class="material-icons">&#xE88A;</i> Home</a>
    </header>
    <article>
      <h1>Before information architecture.</h1>

      <p>Before information architecture, you should <a href="https://www.uxmatters.com/mt/archives/2012/08/creating-a-web-site-information-architecture-in-six-steps.php">capture assumptions</a>.</p>
      
      <h2>Step 1: Business Intent</h2>

      <p>Business intent helps you and the people you work with <a href="http://www.howtomakesenseofanymess.com/chapter/2/page/24/good-is-in-the-eye-of-the-beholder/">define what good is</a>. Here, I made a simple matrix that you can use to capture business intent.</p>

      <p>Meet with people, and help them use words so you can fill it out for everyones benefit.</p>

      <figure>
        <img src="/imgs/artys/before-information-architecture/Business Intent Matrix Blank.png" />
        <figcaption>Hey look! A neat way to get people on the same page with what success looks like.</figcaption>
      </figure>

      <h2>Step 2: User Intent</h2>

      <p>User intent helps in the starting assumption of <a href="http://www.howtomakesenseofanymess.com/chapter/2/page/28/start-with-why/">why you do what you will do</a>.</p>

      <p>It’s OK to start with assumptions, like the <a href="https://medium.com/@timleisio/user-purpose-context-ab3494e2a9ef">user, purpose, and context methodology</a>, it’s pretty simple, and gives great common ground to teams.</p>

      <p>Here, a simple matrix to help people define things in good ways:</p>

      <figure>
        <img src="/imgs/artys/before-information-architecture/User Intent Matrix Blank.png" />
        <figcaption>Another matrix to capture user intent.</figcaption>
      </figure>

      <p>A word of caution: <a href="https://www.nngroup.com/articles/design-priorities/">you are not the user</a>, and your knowledge of user intent will, can, and should change over time.</p>

      <p>That’s what <a href="https://www.nngroup.com/articles/which-ux-research-methods/">user research methods</a> are for. To help you take action on your life long journey of learning about other people so you can help them better.</p>

      <p>This gives you grandest of valuable opportunities to apply new learning to better define <a href="http://www.howtomakesenseofanymess.com/chapter/2/page/31/why-what-and-how-are-deeply-interrelated/">why you do what you do that impacts what you do and how you do it</a>.</p>

      <h2>Step 3: Content</h2>

      <p>Before information architecture, there should be content.</p>

      <p><a href="http://www.howtomakesenseofanymess.com/chapter/1/page/14/information-is-not-data-or-content/">Not information. Not data. Content.</a></p>

      <p>If you have existing content, evaluate and assess it to understand if its information supports the intent that you now have.</p>

      <p>If you don’t, work to create content that does fit the intent that you now have.</p>

      <p><a href="http://www.howtomakesenseofanymess.com/chapter/1/page/8/things-may-change-the-messes-stay-the-same/">Is there too much, too little, or not the right type of information?</a></p>

      <p>Whether evaluating existing content or creating new, if you have those business and user intents (and you do regular user research), you’ll see if there is too much, too little, or just not the right type of information.</p>

      <hr />

      <h2>What If I’m Not “Before”?</h2>

      <p>Didn’t do any of the above before information architecture?</p>

      <p>Ask for help. Let people know that there’s a gap and you need “before information architecture” to do your job. To create a great product. To have a successful business.</p>

      <p>Hope that people want your help. This type of help is typically seen as help that makes everyone “go back” to ensure that a quality product is actually being built.</p>

      <p>You’d think ensuring a quality product is always a good thing to do as a moral obligation. I’ll tell you now that some organizational cultures disagree.</p>

      <p>Such a situation is difficult for people facing those organizational cultures.</p>

      <p>So good luck, and feel free to reach out to me on twitter if you need some guidance.</p>

    </article>

    <%- include ../partials/footer_index -%>

  </body>
</html>
