<!DOCTYPE html>
<html lang="en-us">

  <%- include ../partials/head_index -%>

  <body class="arty">
    <header>
      <a href="/"><i class="material-icons">&#xE88A;</i> Home</a>
    </header>
    <article>
      <h1>The blue balls of product scope.</h1>

      <p>A bit of fun communicating the challenges of product scope as it relates to product creation in an environment that’s not quite yet at the stages of mature user experience.</p>

      <figure>
        <img src="/imgs/artys/blue-balls-of-product-scope/bb1.png" alt="blue ball one" />
        <figcaption>Ideal product scope and what the product team can handle.</figcaption>
      </figure>

      <figure>
        <img src="/imgs/artys/blue-balls-of-product-scope/bb2.png" alt="blue ball two" />
        <figcaption>What product scope is and what the product team can handle.</figcaption>
      </figure>

      <figure>
        <img src="/imgs/artys/blue-balls-of-product-scope/bb3.png" alt="blue ball three" />
        <figcaption>What an ideal simplification initiative looks like and what the product team can handle.</figcaption>
      </figure>

      <figure>
        <img src="/imgs/artys/blue-balls-of-product-scope/bb4.png" alt="blue ball four" />
        <figcaption>What a realistic outcome of a simplification initiative is and what the product team can handle.</figcaption>
      </figure>

      <figure>
        <img src="/imgs/artys/blue-balls-of-product-scope/bb5.png" alt="blue ball five" />
        <figcaption>What customers say they want and what the product team can handle.</figcaption>
      </figure>

      <figure>
        <img src="/imgs/artys/blue-balls-of-product-scope/bb6.png" alt="blue ball six" />
        <figcaption>What business demands and what the product team can handle.</figcaption>
      </figure>

      <figure>
        <img src="/imgs/artys/blue-balls-of-product-scope/bb7.png" alt="blue ball seven" />
        <figcaption>What the financiers enable and what the product team can handle.</figcaption>
      </figure>

      <figure>
        <img src="/imgs/artys/blue-balls-of-product-scope/bb8.png" alt="blue ball eight" />
        <figcaption>What gets planned and executed for version one release and what the product team can handle.</figcaption>
      </figure>

      <figure>
        <img src="/imgs/artys/blue-balls-of-product-scope/bb9.png" alt="blue ball nine" />
        <figcaption>What the post-release road map looks like and what the product team can handle.</figcaption>
      </figure>

      <figure>
        <img src="/imgs/artys/blue-balls-of-product-scope/bb10.png" alt="blue ball ten" />
        <figcaption>What customers actually need and what the product team can handle.</figcaption>
      </figure>

      <figure>
        <img src="/imgs/artys/blue-balls-of-product-scope/bb11.png" alt="blue ball eleven" />
        <figcaption>What the lowest business risk is and what the product team can handle.</figcaption>
      </figure>

      <figure>
        <img src="/imgs/artys/blue-balls-of-product-scope/bb12.png" alt="blue ball twelve" />
        <figcaption>What scope has the best user experience and what the product team can handle.</figcaption>
      </figure>

      <figure>
        <img src="/imgs/artys/blue-balls-of-product-scope/bb13.png" alt="blue ball thirteen" />
        <figcaption>What a sustainable product is and what the product team can handle.</figcaption>
      </figure>

    </article>

    <%- include ../partials/footer_index -%>

  </body>
</html>
