<!DOCTYPE html>
<html lang="en-us">

  <%- include ../partials/head_index -%>

  <body class="arty">
    <header>
      <a href="/"><i class="material-icons">&#xE88A;</i> Home</a>
    </header>
    <article>
      <h1>Creating a way to evaluate your organization.</h1>

      <br />

      <p>This is the story of a Venn diagram and its use as a basic organizational evaluation tool. It's a form of thought exercise that manifests into an actionable take-away for management/leadership or even beyond to a collaborative activity. The results are greater awareness and knowledge on an organization's culture that impact the quality of product creation or service offerings.</p>

      <h2>Strength from multiple industries.</h2>

      <p>There are three Venn diagrams, each from different industries, that can be combined into one to be used as an evaluation tool. Here are the three Venn diagrams as described by the perspective of their industry.</p>

      <p>If you're more from the business world, this diagram represents successful businesses. The theme is any successful business must do three things well to survive: sell things, make things, and handle the money. (source)</p>

      <figure>
        <img src="/imgs/artys/creating-a-way-to-evaluate-your-organization/Biz Lenses.png" />
        <figcaption>The business person's Venn diagram.</figcaption>
      </figure>

      <p>If your more from the product space, this second diagram relates the most. A successful product demands a balance of the customer, the technology, and the business. (source)</p>

      <figure>
        <img src="/imgs/artys/creating-a-way-to-evaluate-your-organization/Product Lenses.png" />
        <figcaption>The product person's Venn diagram.</figcaption>
      </figure>

      <p>Lastly from the world of design, the process of human-centered design is one that produces successful outcomes. Desirability, feasibility, and viability are what are central to a successful design process. (source)</p>

      <figure>
        <img src="/imgs/artys/creating-a-way-to-evaluate-your-organization/HCD Lenses.png" />
        <figcaption>The designer's Venn diagram.</figcaption>
      </figure>

      <p>When thinking about how these three diagrams can be used together, you must recognize that one lens is thematically equal to one another:</p>

      <ul>
        <li>Selling things, the customer, and desirability are all the same: it's all about understanding the <strong>problems</strong> of the people that you're serving</li>
        <li>Making things, the technology, and feasibility are all the same: it's all about how you create <strong>resolutions</strong> the problems that you now understand</li>
        <li>Handling money, the business, and viability are also all the same: they deal with your organization's <strong>sustainability</strong> of persisting the resolutions over time</li>
      </ul>

      <p>When you recognize these themes, you can create a new Venn diagram:</p>

      <figure>
        <img src="/imgs/artys/creating-a-way-to-evaluate-your-organization/Framework Lenses.png" />
        <figcaption>A new Venn diagram: problems, resolutions, sustainability.</figcaption>
      </figure>

      <h2>Forming a framework of questions.</h2>

      <p>This new Venn diagram is a sort of <a href="https://en.wikipedia.org/wiki/MacGuffin">MacGuffin</a> towards a new common language and set of evaluative metrics for organizations. Think of it as a framework, built upon the three principles of problems, resolutions, and thier sustainability. The framework then prompts a set of standard questions, and the results can be clearly "mapped" back to the diagram in a more visually gripping way - in hopes to help sell the story that organizational changes may need to take place for a more balanced, and successful, organization.</p>

      <p>Theory aside, here's a set of preliminary questions that might be used to evaluate an organization.</p>


      <h3>Baseline questions.</h3>

      <ol>
        <li>Does your organization equally distribute the responsibility of understanding customers? (yes or no)</li>
        <li>Does your organization have established and regularly occuring processes in place to observe (without interference!) people using a product or service? (yes or no)</li>
        <li>Does your organization </li>
        
        <li>Does your organization have well-established process(es) for maintaining existing products or services? (yes or no)</li>
        <li>Does your organization have processes in place, as a sort of quality assurance and control, to validate product or service improvements before they go live? (yes or no)</li>
        <li>Does your organization have well-established methods to quickly (in a week or less) experiment with new products or services? (yes or no)</li>   
        
        <li>Does your organization have means to experiment with significantly different business models? (yes or no)</li>
        <li>Does your organization have certain deparements that are "cost centers"? (yes or no)</li>
        <li>Does your organization </li>
      </ol>

      <br />

      <h3>Rules for crafting a compelling story.</h3>

      <p>Each question is related to one of the three lenses of the Venn diagram, and there are an equal number of questions for each lens. After all responses are collected, we add one point for every "yes" response, and tally the results.</p>

      <ul>
        <li>The "Problems" lens gets one point for each "yes" under questions 1-3</li>
        <li>The "Resolutions" lens gets one point for each "yes" under questions 4-6</li>
        <li>The "Sustainability" lens gets one point for each "yes" under questions 7-9</li>
      </ul>

      <p>If you're already in a great organization, well, you probably wouldn't be reading this article, but you've likely answered "yes" to all questions. That means each lens gets a score of 3, your organization is balanced, and you simply need to remain vigilant against anything that changes your responses to "no".</p>

      <p>But if you're in an enterprise organization, it's likely at least a few "no" responses result. Your results might look like this:</p>

      <ul>
        <li>Problems: 0</li>
        <li>Resolutions: 1</li>
        <li>Sustainability: 2</li>
      </ul>

      <p>This set of results depict an imbalanced organization, which means not only is your organization skewed towards sustainability, but it's likely you'd get more value out of self-investing in the strengthening of the "problems" lens in your organization.</p>

      <p>What you can now do to visualize this imablance is simply scale the Venn diagram appropriately to the ratio of the total for each lens.</p>

      <figure>
        <img src="/imgs/artys/creating-a-way-to-evaluate-your-organization/An Imbalanced Org.png" />
        <figcaption>An imbalanced organization.</figcaption>
      </figure>

      <p>This image should be a striking visualization into reality and provokes more questions like:</p>

      <ul>
        <li>How do you think employees feel about thier job who are responsible for decisions primarily dealing with understanding the problems of customers?</li>
        <li>What cultural, moral, and ethical impacts are there to an organization that's skewed like this?</li>
        <li>There's <strong>no</strong> overlap between the "problems" lens in our ourganization. Why? Aren't there processes in place to communicate customer understanding or build customer empathy?</li>
      </ul>

      <p>Beyond organizations that are imbalanced, there might also be organizations that might not have a single "yes" response for multiple lenses. This is where reality slaps you in the face. You have a hard and daunting challenge ahead of you, but now that you are aware of it, the opportunity to improve and reinvigorate an organizational vision is now yours to take.</p>

      <h2>Towards positive change.</h2>
      
      <p>The questions used above are not necessarily "the" questions, and that is one point to emphasize about this framework.</p>

      <p>You are smart and have smart people surrounding you. You can come up with your own set of questions, and have others help you. Forming questions collaboratively is an activity in itself, and once you have a standard or agreed upon set of questions (likely from a group involving leadership), you can move on to the actual activity of the Venn diagram.</p>

      <p>Once a set of questions are established, these can be used for any activity. They could take the form of an individual survey sent out across varied particiants. It could also take the form of a large group activity where subgroups form their responses together and share results at the end a session for a regroup.</p>

      <p>No matter the activity, as long as results can visually alter the Venn diagram, you've started to evaluate your organization in a way that enables you, and others, to tell a compelling story that highlights areas of action for organizational improvement.</p>

    </article>

    <%- include ../partials/footer_index -%>

  </body>
</html>
