<!DOCTYPE html>
<html lang="en-us">

  <%- include ../partials/head_index -%>

  <body class="arty">
    <header>
      <a href="/"><i class="material-icons">&#xE88A;</i> Home</a>
    </header>
    <article>
      <h1>Global Humanity</h1>
      <p>June 26, 2016</p>
      <hr>

      <blockquote>"In order to carry a positive action we must develop here a positive vision."</blockquote>

      <hr />

      <p>Humanity ever-adapting by utilizing human-centered design methodologies.</p>

      <p>Borders defined simply as places of origin and cultural norms with each their own tourist-attracting, unique food and drink.</p>

      <p>Immigration, and the wondrous diversity it brings, as the fuel that enables cities to experiment with improving.</p>

      <p>Homes and economies driven and implemented by practicing the principles of permaculture.</p>

      <p>Businesses that uphold ethical principles over profit.</p>

      <p>Education as a means of constantly adapting our species to the future.</p>

      <p>Behavior that recognizes we’re all human.</p>

      <p>Humility for the natural world, and a deep sense of connection and obligation to take care of the systems that sustain us.</p>

      <p>The pursuit of fusion energy to move our species along the Kardashev scale.</p>

      <p>Science, technology, engineering, mathematics, and arts that recognizes all of the above, with standards and measures in place to clearly communicate ethical uses.</p>

      <p>Governments of the people, by the people, and for the people, informed by standards and measures from science, technology, engineering, mathematics, and arts.</p>

      <p>Governmental policies that respect the physical laws of any planet’s fixed size and natural resources.</p>

      <hr />

      <p>This is what a global humanity could look like.</p>

      <p>It’s just one potential vision of over 7 billion.</p>

      <hr />

      <p>Who, today, is helping define a positive vision of global humanity?</p>
      
      <p>Who, today, is carrying the positive action on that vision?</p>

    </article>

    <%- include ../partials/footer_index -%>

  </body>
</html>
