<!DOCTYPE html>
<html lang="en-us">

  <%- include ../partials/head_index -%>

  <body class="arty">
    <header>
      <a href="/"><i class="material-icons">&#xE88A;</i> Home</a>
    </header>
    <article>
      <h1>Product owners: please don't make feature decisions.</h1>
      <p>Jul 23, 2016</p>
      <hr>

      <p>Let’s have a talk about features of software products within enterprise organizations, and how product decision makers should define and decide on products not as features, but as user scenarios.</p>

      <p>First, a bit of psychology.</p>
      
      <h2>Our brains are flawed, and flaws drive our behavior.</h2>

      <p>When someone, like a customer, communicates an idea to you, like a feature, it’s mentally and psychologically hard to let go of it.</p>

      <p>This is because the human brain chemically and electrically operates to remember things in easy ways. It takes the idea, makes an icon of it, and that becomes the manifestation of your learning.</p>

      <p>This is directly seen in how people draw. Often, people draw icons of what they have learned. In contrast, artists have trained themselves to actually draw what they see.</p>

      <figure>
        <img src="/imgs/artys/product-owners-please-dont-make-feature-decisions/eyeballs.png" />
        <figcaption>The difference between a flawed brain, and a person who has trained their brain.</figcaption>
      </figure>

      <p>This remember-things-as-icons has benefits like making it easier to communicate, but <em>it’s flawed because it leaves a desire to appreciate it as a piece of art</em>. The icon isn’t beautiful, and lacks in depth and appeal of interest. Just look at the eyeballs.</p>

      <p>The bottom line is that a tangible idea, this feature you’ve been taught, becomes part of your mental lexicon as an icon.</p>

      <p>This is dangerous.</p>

      <p>This is dangerous because these features (icons) are something you brain now uses to drive your behavior.</p>

      <p>Yes, your ideas drive your behavior.</p>

      <figure>
        <img src="/imgs/artys/product-owners-please-dont-make-feature-decisions/thinking-drives-behavior.jpeg" />
        <figcaption>Cultural propaganda from and within my organization that proves my point. (A.K.A. you better not argue with me)</figcaption>
      </figure>

      <p>Pretty straightforward so far, right? Buy why’s all this psychological crap important? Let’s play this out some more…</p>

      <h2>From psychology to product-ology…</h2>

      <p>Your behavior has now been primed on a specific feature (icon) that you’ve learned. Let’s say the features (icons) are tables with filtering and searching capabilities. That means you are going to communicate to others via this feature (icon).</p>

      <ul>
        <li>Every product pitch that you give will include some ad-hoc image of a table with filter and search mechanics. In the eyes of people who you report to, you’ve now promised those features (icons).</li>
        <li>Every product demo you give will include some ad-hoc image of a table with filter and search mechanics. In the eyes of customers, you’ve now taught them to expect these features (icons).</li>
        <li>Every product story written will include some ad-hoc image of a table with filter and search mechanics. In the eyes of people who build the product, you have just defined the features (icons).</li>
      </ul>

      <p>You’ve now taught all of these people, and likely your organization, how to think and behave in a feature (icon) focused way.</p>

      <hr />

      <h2>The Harsh (Un)Truth</h2>

      <p>It’s then a user experience (UX) professional walks in the room and tells you it’s better to think of the purpose and intent behind the feature, because there are other feature possibilities that may more effectively fulfill the user’s purpose and intent.</p>

      <p>The UX professional has just told you that your icon (feature) is not artistic. It’s not beautiful. It lacks in depth.</p>

      <hr />

      <figure>
        <img src="/imgs/artys/product-owners-please-dont-make-feature-decisions/when-your-icons-arent-pretty.jpeg" />
        <figcaption>When you are feature-focused and a UX professional tells you that there could be a better way…</figcaption>
      </figure>

      <hr />

      <p>Your whole mental lexicon castle is under siege.</p>
      
      <p>You become defensive.</p>
      
      <p>You’ve spent (how many?) hours pouring your soul into this feature.</p>
      
      <p>It’s been woven into the language of customers.<br /> It’s been woven into the fabric of your business case.<br /> It’s been woven into the fabric of your product team.<br /> It’s been woven into the fabric of your development team.<br /> It’s now part of your reputation.<br /> It’s your mental lexicon.<br /> It’s your icon.<br /> It’s your truth.</p>
      
      <p>It’s hard to unlearn your truth.</p>

      <p>It’s hard to unlearn the set of features (icons) that equates to your product.</p>

      <hr />

      <p>It’s exponentially harder to teach someone else to unlearn these features.<br /> (This is the job of a UX professional.)</p>

      <hr />

      <figure>
        <img src="/imgs/artys/product-owners-please-dont-make-feature-decisions/yoda.jpeg" />
        <figcaption>If you don’t listen to me, listen to Yoda.</figcaption>
      </figure>

      <h2>“Why unlearn? I’ve got it right! My icons are beautiful!”</h2>

      <p>You’re in a role that makes decisions about what goes in a product. Great! Product teams need those people.</p>
      
      <p>It’s your job to decide what is in or out of a product. User experience professionals, if they know better, will never challenge that. Your responsibility is to make decisions on what is in or out of a product, yes, confirmed, agreed, peace sign, champagne.</p>
      
      <p><strong>*But nobody said that it <em>had</em> to be features that are decided on.</strong></p>
      
      <p>(Actually, your organizational culture implied it through their implicit social norms, but that’s another story.)</p>
      
      <p>This* is a nuance that your friendly, local UX professional should be talking to you about. It’s not that they’re challenging your position of decision making for what is in or out of a product. It is that they are telling you that there is a delegation of decision types that needs to take place for everybody to work happily together.</p>

      <p>The bottom line: UX professionals don’t want you do define features (icons).</p>

      <p>Seasoned UX professionals know that features (icons) are flawed. Features are not foundations of great products. Understanding people is the foundation of great products.</p>
      
      <p>It’s the job of the UX professional to help you, the product decision maker, to define <strong>U</strong>sers, their <strong>P</strong>urpose, and their <strong>C</strong>ontext (<strong>UPC</strong>). They then take that information and find the best features to fulfill the purpose of the user given their context. A product is specific to those three things. A feature is a slave to those three things.</p>
      
      <p>The UX professional also needs to define the UPC so well that they can communicate this to all the people involved in making a product successful. They need to do this so well that you, a product decision maker, can easily decide on what <strong>users</strong>, <strong>purposes</strong>, and <strong>contexts</strong> are in a product, and which are out.</p>

      <p><em>Here’s the plea from UX professionals to you product decision makers:</em><br /><strong>Don’t decide on features. Decide on <a href="http://timleisio.com/artys/product-scope-scenarios-not-features">user scenarios</a>.</strong></p>

      <p>Switching your decisions away from features and to user scenarios enables UX professionals to do what they do best: use their expertise to drive a divergent-to-convergent creative process, supported by user research evidence, that will identify the most effective feature(s) for a user scenario.</p>
      
      <p>This is like taking the realm of billions of feature ideas and finding the precious few that will make your organization the most money, be grounded in what your development teams can implement, and also be the most desirable for people to use.</p>

      <p>This is what everybody on your team wants. Whether they know it or not.</p>

    </article>

    <%- include ../partials/footer_index -%>

  </body>
</html>
