<!DOCTYPE html>
<html lang="en-us">

  <%- include ../partials/head_index -%>

  <body class="arty">
    <header>
      <a href="/"><i class="material-icons">&#xE88A;</i> Home</a>
    </header>
    <article>
      <h1>How to subtly insinuate your UX talent on a product you think needs help.</h1>
      <p>April 22, 2016</p>
      <hr>
      <p>The title of this piece, let's call it a <a href="https://medium.com/@misoks/the-7-articles-about-enterprise-ux-it-d-be-great-if-someone-would-write-please-359e094d418b">request</a>, is intentionally phrased for impact. Why?</p>
      <p><strong>It's the wrong request.</strong></p>
      <p>It's the wrong request, because it seethes assumptions both about yourself and about others.</p>
      <p>Let's go through it three small bits at a time.</p>
      <h2 id="subtle-insinuation">Subtle Insinuation</h2>
      <p>This first bit of the request is the trickiest one to deconstruct.</p>
      <p>A subtle approach, without insinuation, can actually be very beneficial in the political mess of your organization. It can bring about great, positive change. <em>If executed diplomatically</em>.</p>
      <p>If you are subtle, with an honest approach of teaching people critical knowledge and without making them feel like you're telling them what to do, then you can help empower them to make better decisions. It's about giving them more knowledge so that they can do what they want. They will look back at those times and, at the least, respect you.</p>
      <p>Using a subtle approach with insinuation, however, is much more aligned with dictating through manipulation. This is never a good thing. It is far more rare the situation where you need to be subtly insinuating anything, and you better be sure that the room is clear of highly reactionary personalities. If you do this, you will be degrading a lot of the trust which is necessary to be professionally successful.</p>
      <p>You need that trust, so subtle insinuation is not the best approach, no matter your level of talent.</p>
      <h2 id="your-ux-talent">Your UX Talent</h2>
      <p>You may be a good designer. You may even be a great designer. You may have been born with the most talent in the world. You may have any number of beneficial skills that you, or your colleagues, know would be a great addition to any project. It doesn't matter. This "confidence" does not entitle you to push your professional prowess on others.</p>
      <p>You are not entitled to make others decide that you are worthy for their product, their team, or the situation that surrounds them.</p>
      <p>You are only entitled to the work that you already have in front of you.</p>
      <p>Now, if you want to put in extra hours, or (better) you want to skip that hour-long lunch with co-workers discussing the latest netflix shows, then you are entitled to do work as you see fit. That doesn't entitle you to demand the product team use your work. That work is pro bono. It's <a href="https://medium.com/on-eudaimonia/subtraction-b0035f7c581">a gift without expectation</a>. The result of that work, regardless of success, is never justification for your personal benefit.</p>
      <p>If you're in the perspective of requesting how to subtly insinuate, it's likely no one asked you for help in the first place. This brings us to the last bit of the request.</p>
      <h2 id="a-product-you-think-needs-help">A Product You Think Needs Help</h2>
      <p>From time to time, a glancing thought among user experience professionals may be something like:</p>
      <blockquote>
      <p><em>Just think of what I could do</em> to improve the organization's bottom-line and improve the user's life.</p>
      </blockquote>
      <p>Note the "confident" talent statement that you shouldn't be saying.</p>
      <p>Just because you think, and maybe even know, that a product and its team needs your help, doesn't mean they asked for it.</p>
      <p>Unless they asked for help, you need to <a href="https://www.ted.com/talks/ernesto_sirolli_want_to_help_someone_shut_up_and_listen?language=en">shut up and listen</a>. Use your time not on the project to understand the <a href="https://medium.com/@timleisio/user-purpose-context-ab3494e2a9ef">people, their purpose, and their context</a>. Use that time to build your knowledge.</p>
      <p>When you do this, you are intimately preparing yourself for the approach that you should be taking.</p>
      <h2 id="if-not-this-then-what-">If Not This, Then What?</h2>
      <p>With the request phrased the way it is, you might align yourself with the <a href="http://www.bbc.com/capital/story/20160322-does-your-boss-inspire-greatness">"iconoclast" superboss type</a>. In this case, there is really only one approach to work on the project of your choice:</p>
      <ol>
      <li>Focus entirely on the work you currently have before you. Breath every second of it, immerse yourself in it, let the project become your soul, and make it great. Make the work visionary.</li>
      <li>Be patient, and wait for people to ask you for help.</li>
      <li>Help them.</li>
      <li>Repeat.</li>
      </ol>
      <p>With this approach we can phrase a better request.</p>
      <p><em>How do I produce great, inspiring work?</em></p>
      <p>When you ask this question, or request how to do this, <em>only then</em> can we begin to make you into that great designer you think you already are.</p>
      <hr>
      <p>On a more pragmatic level, to accelerate trust and learning, you might want to consider a more formal teaching capacity within your organization.</p>
      <p>Hold regular "The Basics of User Experience" sessions. Write blog articles on your organization's intranet. Publish monthly emails to the organization teaching them the lessons you learn about users in research.</p>
      <p>There are many other possibilities along this stream of thought. Just remember it's not about building your reputation. It's about teaching others to make better decisions for their situations.</p>
      <hr>
      <p>Also, there's an alternative answer if you're not approaching this subtly:</p>
      <ol>
      <li>Build a business case</li>
      <li>Sell the business case to whoever you need to</li>
      <li>Get on the team</li>
      <li>Don't screw up</li>
      </ol>
      <hr>
      <p>Thanks to <a href="https://medium.com/@misoks">@misoks</a> for the topic!</p>
    </article>

    <%- include ../partials/footer_index -%>

  </body>
</html>
