html {
  max-width:520px;
  margin:0 auto 6em auto;
  padding:0 2em;
  background:#FFF;
  color:#535353;
  font-family:"Open Sans", sans-serif;
  font-size:12pt;
  font-weight:400;
}
hr {
  margin:1em 0;
  border:none;
  border-bottom:1px solid #DDD;
}
h1, h2, h3, h4, h5, h6 {
  color:#131313;
  font-weight:400;
}
h1 {
  margin:0 0 0.25em 0;
  font-size:3em;
  letter-spacing:-0.05em;
  line-height:1.125em;
}
h2 {
  margin:1em 0 0.5em 0;
  color:#5B616B;
  font-size:2em;
  letter-spacing:-0.03em;
}
h3 {
  margin:0 0 0.75em 0;
  color:#5B616B;
  font-size:1.125em;
  font-weight:700;
}
h4 {
  font-size:1.5625em;
}
h5 {
  font-size:1.25em;
}
p {
  margin:0 0 1em 0;
  line-height:1.75em;
}
a {
  color:#0072BC;
}
a:hover {
  color:#112E51;
}
ol {
  margin:0 0 1em 0;
  font-size:0.95em
}
ol li {
  margin:0 2em 0.5em 2em;
  line-height:1.6em;
  list-style-type:decimal;
}
ul {
  margin:0 0 1em 0;
  font-size:0.95em;
}
ul li {
  margin:0 2em 0.5em 2em;
  line-height:1.6em;
  list-style-type:disc;
}
strong {
  font-weight:700;
}
em {
  font-style:italic;
}
button {
  padding:0.5em 1.25em;
  background:#FFF;
  border:1px solid #848484;
  color:#131313;
  font-size:0.775em;
}
button:hover {
  cursor:pointer;
}
button.primary {
  background:#0072BC;
  border:1px solid #0072BC;
  box-shadow:0 2px 8px 0px rgba(0,0,0,0.2);
  color:#FFF;
  font-weight:700;
}
span.faded {
  color:#848484;
}
span.small {
  font-size:0.8em;
}

header {
  margin:1em 0;
}

figure {
  margin:2em 0;
  text-align:center;
}
figcaption {
  color:#636363;
  font-size:0.8em;
  text-align:center
}


/* *** SECTION.INTRO *** */
.globalnav h1 {
  margin:0;
  font-size:1em;
  font-weight:700;
  letter-spacing:normal;
}
.globalnav p {
  font-size:0.85em;
}
.globalnav nav a {
  display:inline-block;
  margin:0 0.5em 0 0;
}


/* *** SECTION.ARTICLES *** */
.articles {
  padding:2em 0;
}
.articles p {
  margin:0;
}
.articles a {
  margin:0.25em 0 0.5em 0;
  display:block;
}
.articles a:visited {
  color:#4C2C92;
}
.articles a:visited:hover {
  color:#112E51;
}

/* *** ACTIVITIES *** */
.activities {
  padding:2em 0;
}

/* *** ARTIFACTS *** */
.artifacts {
  padding:2em 0;
}

/* *** PERMACULTURE *** */
.permaculture {
  padding:2em 0;
}


/* *** ARTICLES PAGES ***/
.arty header,
.secondary header {
  margin:0 0 2em 0;
  padding:0.5em 0 0.375em 0;
  border-bottom:1px solid #D6D7D9;
}
.arty header a,
.secondary header a {
  font-size:0.7em;
}
.arty header a i,
.secondary header a i {
  font-size:1.75em;
  vertical-align:middle;
}
article {
  font-weight:300;
}
article p {
  margin:0 0 1em 0;
}
article img {
  max-width:100%;
}
article ul {
  margin:0 0 1em 0;
  font-size:0.95em;
}
article ul li {
  margin:0 2em 0.5em 2em;
  line-height:1.6em;
  list-style-type:disc;
}
article ol {
  margin:0 0 1em 0;
  font-size:0.95em
}
article ol li {
  margin:0 2em 0.5em 2em;
  line-height:1.6em;
  list-style-type:decimal;
}
article hr {
  max-width:300px;
  margin:2em auto;
  border:none;
  border-bottom:1px dashed #AEB0B5;
}
article blockquote {
  margin:1.5em 0.5em;
  padding:0.5em 1.5em;
  border-left:3px solid #D6D7D9;
  font-size:0.8em;
  font-family:"Libre Baskerville", sans-serif;
  font-weight:400;
  line-height:1.75em;
}
article blockquote p {
  line-height:1.75em;
}
article blockquote p:last-child {
  margin:0;
}
article blockquote strong {
  font-weight:700
}

/* scribble artys */
.scribble {

}
.scribble hr {
  margin:5em auto;
}
.scribble h1 {
  font-size:1.5em;
  font-weight:700;
  line-height:1.25em;
}

/* Permaculture Section */
.issue {
  color:#DA1718;
  font-size:0.8em;
}

/* Experiments */
.experiments header {
  margin:0 0 2em 0;
  padding:0.5em 0 0.375em 0;
  border-bottom:1px solid #D6D7D9;
}
.experiments header a {
  font-size:0.7em;
}
.experiments header a i {
  font-size:1.75em;
  vertical-align:middle;
}
.experiments > h1 {
  font-size:1em;
  font-weight:700;
}
.experiment h1 {
  font-size:1.25em;
  letter-spacing:-0.01em;
  margin:0 0 0.75em 0;
}
.experiment h2 {
  margin:0 0 0.25em 0.5em;
  font-size:1em;
}
.experiment p {
  margin:0 0 0 0.5em;
  font-size:0.9em;
  font-weight:300;
}

footer {
  margin:4em 0;
  padding:1.5em 0;
  border-top:1px solid #D6D7D9;
  color:#5B616B;
  font-size:0.8em;
}